/* 
    Document   : style
    Created on : Dec 1, 2012, 6:09:52 PM
    Author     : nairobicoder
    Description:
        Main application styling sheets. 
*/

/* Load  Libraries */
@import url("bootstrap/css/bootstrap.min.css");

/* Uncomment for responsive styling */

/*@import url("bootstrap/css/bootstrap-responsive.min.css");*/

/* Load my files */



/* Other css settings and styling */
